/* login.css */

.main-login-container {
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  min-height: 100vh;
  background-color: #ffffff; /* Fond gris clair */
  overflow: hidden;
}

.image-login {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #a4cded; /* Bleu pour la colonne de l'image */
  padding: 20px;
  color: #fff; /* Texte blanc */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.image-style {
  max-width: 85%;
  height: auto;
  display: block;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Déplace l'image vers le haut */
  }
  100% {
    transform: translateY(0);
  }
}

.image-style {
  animation: float 3s ease-in-out infinite; /* Applique l'animation */
}

#login-box {
  background: #ffffff; /* Blanc pour la colonne du formulaire */
  padding: 0px 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #1e7fc9 !important; /* Bleu pour le texte du titre */
}
.button-Login {
  background-color: #1e80c9;
}
.button-Login:hover {
  background-color: #10266f;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-control {
  border-radius: 40px;
  width: 80%; /* Réduction de la largeur à 80% */
  margin: 0 auto; /* Centrer les champs de saisie horizontalement */
}

.form-control.is-invalid {
  border-color: #dc3545; /* Rouge pour les erreurs de formulaire */
}

.button-Login,
.btn-color {
  background-color: #1e7fc9; /* Bleu pour le bouton de connexion */
  border: none;
}

.forgot p {
  margin: 0;
  color: #6c757d; /* Gris pour le texte secondaire */
}

.forgot a {
  color: #1e7fc9; /* Bleu pour les liens */
}

.forgot a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .main-login-container {
    flex-direction: column; /* Disposer les éléments verticalement */
  }

  .image-login {
    order: 2; /* Placer l'image après le formulaire */
    margin-top: 20px; /* Ajouter un espace au-dessus de l'image */
    justify-content: center;
    background-color: #ffffff;
    padding: 0px;
    box-shadow: none;
  }

  #login-box {
    order: 1; /* Placer le formulaire avant l'image */
    border-radius: 30px;
  }
  .image-style {
    max-width: 65%;
  }
  .custom-heading {
    display: none; /* Cacher le titre sur les petits écrans */
  }
}
