login and signup styles */

#login,
#signup {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#login-box,
#signup-box {
    background-color: white;
    border-radius: 20px;
    display: grid;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#login .container #login-row #login-column #login-box,
#login .container #login-row form,
#signup .container #signup-row #signup-column #signup-box,
#signup .container #signup-row form {
    width: 300px;
    height: auto;
    border-radius: 15px;
    background-color: white;
}

#signup-column {
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    background-color: white;
}

#login .container #login-row #login-column form,
#signup .container #signup-row #signup-column form {
    padding: 20px;
}

#signup-column,
#login-box {
    padding-right: 20px;
    padding-left: 40px;
}

.button-Login {
    margin: 8px 0;
    width: 100%;
    height: 55px;
    background-color: #2B4EFF !important;
    border-radius: 999px !important;
    box-shadow: #5E5DF0 0 10px 20px -10px !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    opacity: 1 !important;
    outline: 0 solid transparent !important;
    padding: 8px 18px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    word-break: break-word !important;
    border: 0 !important;
}

.button-Login:hover {
    background-color: #1e7fc9c2 !important;
    box-shadow: #5d5df0a9 0 10px 20px -10px !important;
}

.forgot a {
    text-decoration: none;
    color: #2B4EFF;
}

.custom-heading {
    font-size: 40px;
    font-weight: 750;
    color: #2B4EFF;
    padding-bottom: 20px;
}

.main-login-container,
.main-signup-container {
    left: 0px;
    right: 0px;
    position: absolute;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: -90px;
}

.background-image {
    position: relative;
    background-image: url('./img/Learning-pana.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    /* Ajustez ces valeurs pour obtenir la couleur désirée */
}

@media (max-width: 768px) {

    .main-login-container,
    .main-signup-container {
        width: 100%;
        background-color: white;
        top: 0px;
        display: grid;
    }

    .background-image {
        background-size: auto;
        width: 65%;
        height: 100vh;
        z-index: 0;
        margin-bottom: -9rem;
    }

    .custom-heading {
        display: none;
    }

    .image-login,
    .image-signup {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    #login-box,
    #signup-box {
        padding: 0px 6cqmax;
    }
}

@media (max-width: 650px) {
    .background-image {
        background-size: auto;
        width: 60%;
        height: 75vh;
    }
}

/* input styles */
.form-control {
    border-radius: 100px !important;
    border: none;
}
/* 
button,
.custom-button,
.button-Login,
.button-singup,
.button-login {
    background: #2B4EFF !important;
    border-radius: 19px !important;
    box-shadow: #5E5DF0 0 10px 20px -10px !important;
    box-sizing: border-box !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    opacity: 1 !important;
    outline: 0 solid transparent !important;
    padding: 8px 18px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    width: fit-content !important;
    word-break: break-word !important;
    border: 0 !important;
}

button:hover,
.custom-button:hover,
.button-Login:hover,
.button-singup:hover,
.button-login:hover {
    background: #1e7fc9c2 !important;
    box-shadow: #5d5df0a9 0 10px 20px -10px !important;
}