
.sidebar-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
  color: white;
}

.icon-text {
  margin-left: 15px;
  display: none;
  transition: opacity 0.3s ease-in-out;
  color: white;
}

.sidebar-container.expanded .icon-text {
  display: inline;
  opacity: 1;
}

.sidebar-item {
  padding-left: 5px;
}

@media screen and (max-width: 575px) {
  .sidebar-container {
    display: none !important;
  }
}
