/* SidebarDesktop.css */

.sidebar-container {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 80vh;
  width: 80px;
  background: linear-gradient(180deg, #2f80ed, #56ccf2);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar-container.expanded {
  width: 200px;
  align-items: flex-start;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
}

.nav-menu {
  width: 100%;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.nav-link:hover,
.nav-link.active {
  background-color: #1c56a2;
  color: white;
  transform: scale(1.05);
}

.nav-link:hover .icon-text,
.nav-link.active .icon-text {
  color: white;
}

/* .nav-item {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-container.expanded .nav-item {
    justify-content: flex-start;
} */

.sidebar-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
  color: white;
}

.icon-text {
  margin-left: 15px;
  display: none;
  transition: opacity 0.3s ease-in-out;
  color: white;
}

.sidebar-container.expanded .icon-text {
  display: inline;
  opacity: 1;
}

.sidebar-item {
  padding-left: 5px;
}

@media screen and (max-width: 575px) {
  .sidebar-container {
    display: none !important;
  }
}
