/* Container styles */
.container-dashboard {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card styles */
.card-custom {
    margin: 20px auto;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Header styles */
.card-header-custom {
    background-color: #007bff !important;
    color: white !important;
    padding: 15px !important;
    height: 57px !important;
    border-radius: 15px 15px 0 0 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    text-align: center !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Card Body styles */
.card-body-custom {
    padding: 20px;
}

/* Form Group styles */
.form-group-custom {
    margin-bottom: 15px;
}

/* Form Label styles */
.form-label-custom {
    font-weight: bold;
    color: #495057;
}

/* Form Control styles */
.form-control-custom {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-custom:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Form Control Feedback styles */
.form-control-feedback-custom {
    color: #dc3545;
}

/* Form Check styles */
.form-check-custom {
    color: #495057;
}

/* Button Group styles */
.button-group-custom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Button styles */
.button-custom {
    padding: 8px 20px;
    border-radius: 50px;
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button-custom-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.button-custom-danger:hover {
    background-color: #dc3545;
    color: white;
}

.button-custom-primary:hover {
    background-color: #007bff;
    color: white;
}