/* DashboardProfile.css */

.custom-btn {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.custom-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.table-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.table-header {
    background-color: #007bff;
    color: white;
}

.table-cell {
    background-color: white;
}

.delete-btn {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.edit-btn {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
}

.edit-btn:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.delete-account-btn {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.delete-account-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

@media (max-width: 768px) {
    .custom-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .delete-account-btn {
        width: 100%;
    }
}