.dashboard-container {
    margin-top: 20px;
    margin-left: 70px;
    max-width: 1200px;
}

.card {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    margin-bottom: 15px;
}

.custom-calendar {
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.custom-day {
    font-weight: bold;
    color: #10266f;
}

.custom-day:hover {
    background-color: #1e80c9;
    color: white;
    border-radius: 50%;
}

.react-datepicker__header {
    background-color: white;
}

.react-datepicker__current-month {
    color: #1e80c9;
    font-weight: bold;
}

.react-datepicker__day-name {
    color: #10266f;
}

.react-datepicker__day {
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.react-datepicker__day--selected {
    background-color: #1e80c9;
    color: white;
}

.custom-card {
    color: #10266f;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 8px 12px -2px;
    margin-bottom: 15px;
}

/* Ajuster la carte de bienvenue pour équilibrer la hauteur */
.custom-card-content {
    background-color: #cae6fa;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 260px;
    /* Ajuster cette hauteur si nécessaire */
}


.custom-card {
    margin-bottom: 15px;
}
.custom-image {
    width: 180px;
    height: auto;
    margin-left: 20px;
}

.custom-card-column {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
}

.custom-card-column-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.custom-calendar-wrapper {
    flex: 1;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    margin-left: 20px;
    color: #10266f !important;
    font-weight: bold;
}

.notes-wrapper {
    flex: 1;
}
.note-textarea {
    resize: none;
    border-radius: 20px !important;
    border-color: #cfd8f8 !important;
    background-color: #cae6fa !important;
    padding: 12px;
    font-size: 14px;
}

.resources-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resource-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f4f6f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.resource-item:hover {
    background-color: #e2e7f9;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.resource-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #1e80c9;
}

.resource-text {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resource-text strong {
    font-size: 16px;
    color: #10266f;
    font-weight: 600;
}

.resource-date {
    font-size: 14px;
    color: #7f8c8d;
    font-style: italic;
}

@media (max-width: 768px) {
    .custom-image {
        flex: 0 0 40%;
    }

    .side-column {
        margin-top: 20px;
    }
}